/*로그인 form style*/
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

.alert{
  background-color: red;
  color: white;
  /* root의 크기의 상대크리 현재 기본: 16px*/
  font-size: 0.5rem;
  height: 33px;
  padding: 10px;
  border-radius: 4px;
}

.login-title-text {
  margin: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 15px;
}


.form > input {
  height: 25px;
  margin-bottom: 10px;
}

.form > input[type="submit"] {
  margin-top: 10px;
  height: 30px;
  background-color: green;
  color: white;
  border: 0px;
  border-radius: 4px;

}

.form-check{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid blue;
}

.login-form {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.container {
  width: 350px;
  margin: auto;
}